* {
	box-sizing: border-box;
}

.fondo{
	background-color: rgba(10, 14, 59, 0.85);
}
/*body {
	background: #1D1D1F;
	color: #fff;
	font-family: 'Montserrat', sans-serif;
	min-height: 100vh;
	align-items: center;
}*/

.contenedor {
	padding: 25;
	max-width: 1200px;
	width: 90%;
	margin: auto;
	background: rgb(17, 91, 140);
	display:flexbox;
	
	
}

/* --- --- CONTENEDOR PRINCIPAL --- --- */

.contenido-principal {
	margin-bottom: 50px;
	display: flex;
	align-items: center;
	
	
	
}

.contenido-principal__imagen {
	vertical-align: top;
	margin-right: 20px;
	width: 50%;
	max-width: 550px;
}

.contenido-principal__contenedor {
	width: 50%;
	
}

.contenido-principal__titulo {
	font-weight: normal;
	font-size: 28px;
	
}

.contenido-principal__resumen {
	font-family: 'Open Sans', sans-serif;
	line-height: 30px;
	
	
}

/* --- --- CAROUSEL --- --- */
.carousel__contenedor {
	position: relative;
	
}

.carousel__anterior,

.carousel__siguiente {
	position: absolute;
	display: block;
	width: 100px;
	height: 50px;
	border: none;
	top: calc(50% - 100px);
	cursor: pointer;
	line-height: 80px;
	text-align: center;
	background: none;
	color: rgb(206, 71, 199);
	opacity: 100%;
	font-size: 100px;
}

.carousel__anterior:hover,
.carousel__siguiente:hover {
	opacity: 0%;
	color:rgb(255, 255, 255)
}

.carousel__anterior {
	left: -30px;
}

.carousel__siguiente {
	right: -30px;
}

.carousel__lista {
	overflow: hidden;
}

.carousel__elemento {
	text-align: center;
}

.carousel__indicadores .glider-dot {
	display: block;
	width: 30px;
	height: 4px;
	background: #fff;
	opacity: .2;
	border-radius: 0;
}

.carousel__indicadores .glider-dot:hover {
	opacity: .5;
}

.carousel__indicadores .glider-dot.active {
	opacity: 1;
}
h1{
	
	text-align: center;
	color: gold;
	font-size: 60px;
	font-family: Lucida Calligraphy;
}
h2{
	
	text-align: center;
	color: rgb(254, 254, 254);
	font-size: 35px;

}
h3{
	
	color: rgb(255, 255, 255);
	font-size: 25px;
}
h5{
	color:rgb(226, 223, 201);
	font-family: Lucida Calligraphy;
	font-size: 30px;
}

@media screen and (max-width: 800px) {
	body {
		padding: 40px 0;
	}

	.contenido-principal {
		flex-direction: column;
	}

	.contenido-principal > * {
		width: 100%;
	}
}